Usage of s3pop-server:
  -config string
        Path to the configuration file
  -port int
        Port to listen on (overrides config file and environment variables)

Environment Variables:
  S3POP_CONFIG                 Path to the configuration file
  S3POP_PORT                   Port to listen on
  S3POP_S3_BUCKET              The S3 bucket to read emails from
  S3POP_S3_ENDPOINT            The S3 endpoint to use
  S3POP_S3_FORCE_PATH_STYLE    Force path style for S3
